body{
    background: wheat;
    font-size: 20px;
}
.image{
    border-radius: 70%;
    position: relative;
    top: 5px;
    left: 35px;
    width: 200px;
    height: 200px;
}
span{
    font-size: 25px;
    font-weight: bold;
}
.left{
    background-color: black;
    width: 3px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:320px;
}
audio{
    position: absolute;
    bottom: 10px;
    left: 5px;
}
.list{
    position: absolute;
    left: 350px;
    top: 0px;
    font-size: 25px;
}
.list>img{
    width: 50px;
    height: 50px;
}
p{
    font-size: 40px;
    font-weight: bold;
}
.computer{
    position: fixed;
    right: 150px;
    top: 200px;
    width: 40%;
    height: 50%;
}
.question{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
}